<%
  month, day_num_str = meta[:date].to_s.split(" ", 2)
  day_num = day_num_str.to_i
  ordinal_suffix = day_num.ordinalize.delete("0-9")
%>
<section class="schedule-day" id="<%= day_key %>">
  <h3 class="schedule-day__heading">
    <%= meta[:label] %>, <%= month %> <%= day_num %><sup><%= ordinal_suffix %></sup>
  </h3>

  <div class="schedule-day__items">
    <% items.each do |item| %>
      <%= render "session_item", item: item, planned: planned_ids.include?(item.id) %>
    <% end %>
  </div>
</section>
