<section class="schedule-day" id="<%= day_key %>">
  <header class="schedule-day__header">
    <h2 class="schedule-day__label"><%= meta[:label] %></h2>
    <span class="schedule-day__date"><%= meta[:date] %></span>
    <% if meta[:subtitle].present? %>
      <span class="schedule-day__subtitle"><%= meta[:subtitle] %></span>
    <% end %>
  </header>

  <div class="schedule-day__items">
    <% items.each do |item| %>
      <%= render "session_item", item: item, planned: planned_ids.include?(item.id) %>
    <% end %>
  </div>
</section>
