<section class="plan-day" id="<%= day_key %>">
  <header class="plan-day__header">
    <h2 class="plan-day__label"><%= meta[:label] %></h2>
    <span class="plan-day__date"><%= meta[:date] %></span>
  </header>

  <%= render "items_for_day", day_key: day_key, plan_items: plan_items %>

  <%= render "schedule_items/new_link", day_key: day_key %>
</section>
