<!DOCTYPE html>
<html lang="en">
  <head>
    <title><%= content_for(:title) || "Ruby Embassy" %></title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <meta name="apple-mobile-web-app-capable" content="yes">
    <meta name="application-name" content="Ruby Embassy">
    <meta name="mobile-web-app-capable" content="yes">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= yield :head %>

    <link rel="icon" href="/favicon.ico" sizes="any">
    <link rel="apple-touch-icon" href="/favicon.ico">

    <%# Typekit: colfax-web font %>
    <link rel="stylesheet" href="https://use.typekit.net/bzt5uqd.css">

    <%= stylesheet_link_tag :app, "data-turbo-track": "reload" %>
    <%= javascript_importmap_tags %>
  </head>

  <body>
    <div class="<%= content_for(:page_bg) || 'bg-ridge' %> min-h-screen">
      <%= render "shared/navbar" %>

      <main>
        <%= yield %>
      </main>

      <%= render "shared/footer" %>
    </div>
  </body>
</html>
